@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,900;1,700;1,900&display=swap');

.button-up{
    background-color: #23d11d;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 8%;
    position: fixed;
    z-index: 7;
    top: 92%;
    left: 96%;
    transition: 1s;
    border-radius: 10px;
    opacity: 0;
}

.icon{
    text-align: center;
    font-size: 2vw;
    color: #222;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: #000000;
}

body::-webkit-scrollbar{
    background-color: black;
    width: 8px;
}
body::-webkit-scrollbar-button{
    background-color: black;
}


body::-webkit-scrollbar-thumb {
    background-color: #23d11d;
    border-radius: 10px;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4,auto);
    grid-gap: 0px;
}

/* banner video */

.banner{
    width: 100%;
    height: 90vh;
    overflow: hidden;
    display: flex;
    position: relative;
    z-index: 1;
}

.banner video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.banner-content{
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 4%;
    background: linear-gradient(6deg, #000000, transparent);
}

.banner-content h1{
    font-size: 6rem;
    color: #fff;
    animation: 1s animBannertitle ease-in-out;
}

@keyframes animBannertitle {
    0% {
        opacity: 0;
        transform: translateX(6%);
    }
}

.banner-content p{
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
    animation: 2s animBannertext ease-in-out;
}

@keyframes animBannertext {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width:1024px) {
    .banner-content h1 {
        font-size: 3em;
    }
    .banner-content p {
        font-size: 1em;
    }

}

/* link baixa */

.link-baixar {
    padding: 10px;
    background: linear-gradient(45deg, #23d11d, green);
    width: 100px;
    text-align: center;
    margin: 20px 0;
    color: #fff;
    box-shadow: 0 0  7px green;
    animation: 3s animBannertext ease-in-out;
}

/* content */
.content {
    background-color: #000000;
    padding: 0 4%;
    max-width: 1800px;
    margin: 0 auto;
}


/* animations */
[data-anim] {
    opacity: 0;
    transition: 1s;
}

[data-anim = "top"] {
    transform: translate3d(0%, 20%, 0);
}

[data-anim = "stick"] {
    transform: skew(10deg, 25deg);
}

[data-anim = "scale"] {
    transform: scale(.5)
}

[data-anim = "bgcenter"] {

    background-position: center;
}

[data-anim].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/* boxes */
.boxes{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(8,374px);
    grid-gap: 5px;
    padding: 5px;
    transition: 1s;
    gap: 10px;
    overflow: hidden;
}

@keyframes animboxestop {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
}

.box{
    display: flex;
    color: #fff;
    transition: .5s;
    overflow: hidden;
    position: relative;
}

.box img {
    height: 100%;
    object-fit: cover;
}

.info {
    width: 50%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(5deg,transparent, rgba(40, 38, 38, 0.63), transparent);
}

.info h2 {
    font-size: 2em;
    font-weight: bold;
    color: #23d11d;
    margin-bottom: 10px;
}

.info p {
    font-weight: 200;
}

.info-img{
    width: 50%;
    position: relative;
    overflow: hidden;
}

.info-img img {
    width: 100%;
    transition: .2s;
    position: absolute;
    transform: scale(1.1);
}

.info-img:hover img{
    transform: scale(1);
}

.bg-image {
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.882), transparent);
    position: relative;
    height: 100%;
    width: 100%;
}


/* responsive boxes */
@media (max-width:1024px) {
    .boxes {
        grid-template-rows: repeat(7,204px);
    }
    #box-2 {
        grid-column: span 2;
        grid-row: span 2;
    }

    .info h2 {
        font-size: 1.3em;
        font-weight: bold;
        margin-bottom: 7px;
    }
    
    .info p {
        font-weight: 200;
        font-size: .8em;
    }

}

@media (max-width:768px) {
    .boxes {
        grid-template-rows: repeat(9,254px);
        margin-top: 30px;
    }

    #box-1 {
        grid-row: span 1;
    }

    #box-2 {
        grid-column: span 2;
    }

    #box-2 .info{
        padding: 16px;
    }

    #box-3 {
        grid-column: span 2;
    }

    #box-4 {
        grid-column: span 2;
    }

    #box-6 {
        grid-column: span 2;
    }

    #box-7 {
        grid-column: span 2;
    }

    .info h2 {
        font-size: 1.8em;
        margin-bottom: 5px;
    }
    
    .info p {
        font-weight: 200;
        font-size: 1em;
    }

    .content {
        padding: 10px;
    }

}

@media (max-width:425px) {

    .info {
        padding: 10px;
    }

}

/* box - 1  */
#box-1 {
    width: 45%;
    margin: 0 auto;
    text-align: center;
    grid-column: span 2;
    grid-row: span 2;
    justify-content: center;
    align-items: center;
}

#box-1 nav h1 {
    margin-bottom: 10px;
    font-size: 3em;
}

#box-1 nav p {
    letter-spacing: 1px;
    font-weight: 100;
}

/* box - 2  */
#box-2 {
    position: relative;
    grid-row: span 2;
    overflow: hidden;
}

#box-2 img {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .2s;
}

#box-2 .info  {
    position: relative;
    width: 100%;
    background: linear-gradient(0deg, black,rgba(0, 0, 0, 0.624), transparent, transparent, rgba(0, 0, 0, 0.903));
    padding: 2em;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

#box-2 .info h1 {
    font-size: 4em;
    color: #23d11d;
}
#box-2 .info p {
    font-size: 1.2em;
}

#box-2:hover img {
    transform: scale(1.1);
}

/* box - 3  */

/* box - 4  */

/* box - 5  */
#box-5 {
    grid-column: span 2;
    grid-row: span 2;
    background-image: url(./imgs/Mobile-bro.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#box-5 .info {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.945), transparent);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#box-5 .info  h1 {
    font-size: 4em;
}
#box-5 .info  h4 {
    text-align: start;
    font-style: italic;
    color: #ccc;
}
/* box - 6  */

/* box - 7  */

/* box - 8 */
#box-8 {
    grid-column: span 2;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.box8-info {
    width: 57%;
}

.box8-info h1 {
    font-size: 3em;
}

.warning {
    height: 100%;
    margin-top: 5%;
}
.warning a {
    font-size: 1.4rem;
}
.warning h4{
    color: rgba(255, 0, 0, 0.835);
    font-size: 2em;
}

.warning p {
    margin: 5px 0 30px 0;
    color: #e1e1e1;
    font-weight: 500;
}

.bg-alert {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-alert i {
    font-size: 13em;
    color: rgba(255, 0, 0, 0.739);
}

.tutor {
    margin-top: 20px;
}

.tutor h4 {
    font-size: 1.3em;
    color: #e1e1e1;
    font-weight: 400;
}

.tutor p {
    margin: 3px 0;
    font-weight: 300;
}

@media (max-width: 740px) {

    #box-8 {
        background-image: url(./imgs/Warning-bro.png);
        background-size: cover;
        background-position: center;
        padding: 0;
    }

    .bg-alert {
        display: none;
    }

    .box8-info {
        width: 100%;
        background-color: #222222f3;
        border-radius: 20px;
        padding: 1em;
    }

    .warning h4 {
        font-size: 1.5em;
    }

    .box8-info h1 {
        font-size: 2em;
    }

    .warning a {
        font-size: 1rem;
    }

}

@media (max-width:1024px) {

    #box-1 {
        width:  80%;
    }

    #box-1 nav h1 {
        font-size: 2em;
    }

    #box-1 nav p {
        font-size: .9em;
    }



    #box-5 .info h1 {
        font-size: 3em;
    }

}

@media (max-width:768px) {

    #box-5 .info {
        text-align: center;
    }

    #box-5 .info h1 {
        font-size: 2em;
    }
    #box-5 .info h4 {
        font-size: .8em;
        text-align: center;
    }

    .button-up{
        top: 90%;
        left: 93%;
        transition: .2s;
        border-radius: 10px;
    }

    .icon{
        font-size: 4vw;
    }
}
 
@media (max-width:425px) {
    #box-2 .info  {
        padding: 2em 10px;
    }

    #box-2 .info h1 {
        font-size: 3em;
    }

    .content {
        padding: 3px;
    }

    .info h2 {
        font-size: 1.4em;
        margin-bottom: 5px;
    }
    
    .info p {
        font-weight: 200;
        font-size: .9em;
    }

    #box-5 {
        background-position: center;
    }

    .button-up{
        top: 92%;
        left: 90%;
        transition: .2s;
        border-radius: 10px;
    }

    .icon{
        font-size: 4vw;
    }
}

/* Membros */

.title-equipe {
    color: #fff;
    padding: 1em 0;
    font-size: 4em;
    text-align: center;
    margin-top: 20%;
}

.equipe-container {
    column-count: 3;
    padding: 3em;
    margin: 0 auto;
}

.membro {
    break-inside: avoid-column;
    border-radius: 10px;
    padding: 2em;
    min-width: 200px;
    max-width: 300px;
    box-shadow: 0 0 10px #333333ad; 
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    transition: .3s;
}

.membro:hover {
    box-shadow: 0 0 10px #464646ad; 
}

.equipe-container:hover > :not(:hover) {
    opacity: .8;
}

.membro-img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 0 auto;
    overflow: hidden;
}

.membro-img:hover img {
    transform: scale(1.1);
}

.membro-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
} 

.membro-info {
    padding: 10px;
    text-align: center;
    color: #fff;
}

.membro-info h2 {
    margin-bottom: 10px;
    font-size: 1.3em;
}

.membro-info p {
    color: #ccc;
    font-weight: 200;
}

@media (max-width:768px) {
    .equipe-container {
        column-count: 2;
    }

    .membro {
        padding: 1em;
        height: 300px;
        min-width: 160px;
    }

    .title-equipe {
        font-size: 3em;
    }

}

@media (max-width:425px) {
    .title-equipe {
        font-size: 2em;
        padding: 2em 0 0 0;
    }

    .equipe-container {
        column-count: 1;
    }

    .membro {
        padding: 1em;
    }

}

hr {
    width: 50%;
    margin: 0 auto;
    height: 1px;
    background-color: #23d11d;
    border: none;
}

/* footer */
.footer {
    background-color: #000000;
    padding: 4em 2em;
    display: flex;
    justify-content: space-evenly;
    text-align: start;
    align-items: flex-end;
}

.footer nav h2{
    color: #fff;
    margin: 10px 0;
}

.footer nav ul {
    min-width: 150px;
}

.footer nav ul li {
    margin-bottom: 10px;
}

.footer nav ul li a {
    color: #ccc;
    transition: .3s;
}

.footer nav ul li a:hover {
    color: #23d11d;
    letter-spacing: 1px;
}

.copy p {
    color: #ccc;
    font-style: italic;
}



@media (max-width:768px) {
    .footer nav ul li {
        font-size: .8em;
    }

    .copy p {
        font-size: .8em;
    }
}

@media (max-width:768px) {
    .footer {
        flex-wrap: wrap;
        justify-content: start;
        gap: 20px;
    }
    .copy p {
        margin: 1em 0;
    }
}